@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

/*--- UTILIDADES ---*/
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn-1{
    padding: 10px 25px;

    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    transition: all 0.3s;
    background-color: #113366;
    display: inline-block;
}.btn-1:hover{
    filter: brightness(140%);
}

.btn-2{
    padding: 10px 25px;

    color: #0055AA;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.1s;

    border: solid 1px #0055AA;
}.btn-2:hover{
    color: #ffffff;
    background-color: #113366;
}

.light-heading{
    font-weight: 400;
}

.highlight{
    color: #0055AA;
    font-weight: 600;
}

.after-arrow::after{
    content: "";
    width: 35px; height: 15px;

    margin-left: 5px;

    background: url(../images/arrow_1.svg);
    background-repeat: no-repeat;
    display: inline-block;

    position: relative;
    top: 2px;
}

.bgc-gray{
    background-color: #F2F2F2;
}

.hover-1:hover{
    filter: brightness(80%);
}



/*--- GENERALIDADES ---*/
html{
    box-sizing: border-box; /**Hace que las cajas respeten el tamaño que se les asigne**/

    scroll-behavior: smooth;
}
*,*::after,*::before{
    box-sizing: inherit; /** Hace que todas las cajas tengan el box-sizing especificado en la linea 2 **/
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-color: #ffffff;
}

img{
    width: 100%;
}

h2{
    font-size: 40px;
    font-weight: 700 ;
}



/*--- HCONTACT ---*/
.hcontact{
    padding: 15px 0;
    
    color: #F2F2F2;
    font-size: 15px;
    font-weight: 500 ;

    background-color: #77AADD;
}

.hcontact a{
    text-decoration: none;
}

.hcontact .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hcontact_element{
    display: flex;
    align-items: center;
}

.hcontact_element span, .hcontact_element a{
    margin-left: 5px;
    margin-right: 15px;
}


/*--- HEADER ---*/
header{
    width: 100%;
    padding: 10px 0;
    background-color: #113366;

    position: sticky;
    top: -5px;
    z-index: 500;
}

header .container{
    display: flex;
    justify-content: space-between;
}


/*-- Logo --*/
.logo{
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 50px;
}

.logo h1{
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}


/*-- Navegación --*/
nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_link{
    color: #F8F8F8;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.nav_link--selected{
    color: #77AADD;
    height: 90%;
    border-bottom: solid 3px #77AADD;
    transform: translateY(13px);
}



/*--- CAROUSEL ---*/
.carousel{
	width: 100%; height: 80vh;
	position: relative;
}

.carousel__buttons{
	width: 100%; height: 100%;
	padding: 0 20px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: absolute;
	z-index: 100;
}

.carousel__buttons button{
	width: 30px; height: 30px;
    padding: 0;
	border: none;
    cursor: pointer;

	background-color: transparent;
}
.carousel__buttons button:hover{
    filter: invert(75%);
}

.carousel__lista{
	width: 100%; height: 100%;
}

.carousel__legend{
	padding: 0 100px;
	color: #113366;
    /* line-height: 1; */

	position: absolute;
	top: 10%;

	z-index: 50;
}

.carousel__legend h2{
    margin: 0;
    width: 40%;
    line-height: 1;
    font-size: 80px;
    font-weight: 700;
}
.carousel__legend p{
    width: 40%;
    font-size: 20px;
    font-weight: 600;
}

.carousel__indicadores{
	position: relative;
	top: -50px;

    z-index: 100;
}

.glider-dot{
    background-color: #77AADD;
	border: solid 1px #1D1D1F;
}
.glider-dot.active{
    background-color: #ffffff00;
}



/*--- ABOUT US ---*/
.about{
    padding: 100px 0;

    color: #F2F2F2;
    font-size: 16px;
    background-color: #0055AA;

    position: relative;
}
.about::after{
    content: "";
    width: 50px; height: 50px;
    background-color: #0055AA;

    display: inline-block;
    position: absolute;
    bottom: -25px;
    left: calc(50% - 25px);

    transform: rotate(45deg);
}

.about h2{
    margin: 0;
    text-align: center;
}

.about_paragraphs{
    margin: 30px 0;

    display: flex;
    gap: 30px;
}

.about a{
    width: fit-content;
    margin: 0 auto;
    display: block;
}



/*--- SERVICES ---*/
.services .container{
    padding-top: 60px;

    display: flex;
    gap: 100px;
}
.services img{
    object-fit: scale-down;
    object-position: bottom;
    flex-basis: 50%;
}

.services_content{
    flex-basis: 50%;
}

.services_content h2{
    color: #113366;
}
.services_content p{
    font-size: 16px;
} 

.services_button{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services_button a{
    width: 170px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}



/*--- MAIN ---*/
main{
    padding: 50px 0;
    text-align: center;
    background-color: #ffffff;
}

main h2{
    color: #0055AA;
    line-height: 1.2;
}
main h2 span{
    color: #113366;
}

.main_subtittle{
    margin: 30px auto;
}

.main_description{
    margin-bottom: 50px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.main_description h3{
    color: #113366;
}

.main_description div{
    flex-basis: 48%;
}


/*-- Carts --*/
.carts{
    display: flex;
    gap: 20px;
}

.carts_element{
    text-decoration: none;
    color: #1D1D1F;
    background-color: #F8F8F8;
    transition: all 0.2s;
}
.carts_element h3{
    color: #113366;
}

.carts_element:hover{
    background-color: #77AADD;
}
.carts_element:hover p, 
.carts_element:hover h3,
.carts_element:hover svg path{
    color: #F8F8F8;
    fill: #F8F8F8;
    stroke: #F8F8F8;
}
.carts_element:hover svg rect{
    stroke: #F8F8F8;
}



/*--- BLOG ---*/
.blog{
    padding: 70px 0;
}

.blog_tittle{
    color: #0055AA;
    text-align: center;
}
.blog_tittle span{
    color: #113366;
}

.blog_articles{
    display: flex;
    gap: 30px;
}

.article_data{
    display: flex;
    justify-content: space-between;
}

.article_time{
    font-style: italic;
    color: #363636;
}

.article_tittle{
    margin: 0;
    color: #113366;
    font-size: 18px;
}

.article a{
    margin-top: 20px;
    color: #0055AA;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}



/*--- SECTION GROUP---*/
.section-group{
    min-height: 200px;
    margin-bottom: 300px;
    position: relative;
}

/*-- Resource --*/
.resource{
    width: 55%; min-height: 400px;
    padding: 15px 7%;

    color: #F2F2F2;
    font-size: 20px;
    background-color: #113366;

    position: absolute;
}

.resource div{
    width: 70%;
    position: absolute;
    top: 60px;
}
.resource p{
    margin-bottom: 30px;
}
.resource a{
    color: #F2F2F2;
    text-decoration: none;
}
.resource a::after{
    background: url(../images/arrow_2.svg);
    background-repeat: no-repeat;
}


/*-- Meet --*/
.meet{
    width: 52%; min-height: 400px;
    padding: 10px 70px;

    color: #F2F2F2;
    font-size: 20px;
    background-color: #0055AA;
    background-image: url(../images/meet_background.png);
    background-position: right;
    background-repeat: no-repeat;

    position: absolute;
    top: 50px;
    right: 0;
}

.meet p{
    width: 50%;
    margin-bottom: 30px;
}
.meet a{
    color: #F2F2F2;
    text-decoration: none;
}
.meet a::after{
    background: url(../images/arrow_2.svg);
    background-repeat: no-repeat;
}



/*--- MAP ---*/
.map h2{
    margin-top: 150px;
    color: #0055AA;
    text-align: center;
}
.map h2 span{
    color: #113366;
}

.map iframe{
    width: 100%;
    margin: 50px 0;
    display: block;
}

.map .btn-1{
    width: fit-content;
    margin: 0 auto;
    display: block;
}



/*--- TESTIMONIALS ---*/
.testimonials{
    width: 70%;
    padding: 80px 0;
    margin: 100px 0;

    background-color: #F2F2F2;
    display: flex;
    align-items: center;

    position: relative;
}

.testimonials img{
    width: 150px;
    margin-right: 20px;
}

.testimonials h2{
    color: #0055AA;
    flex-basis: 40%;
}

.testimonials h2 span{
    color: #113366;
    break-before: always;
}

.testimonials_content{
    flex-basis: 40%;
    text-align: center;
}

.testimonials_content::before{
    content: url(../images/quotes.svg);

    position: absolute;
    top: 0;
    transform: translateX(-70px);
}

.testimonials_content h3{
    color: #0055AA;
    text-transform: uppercase;
}

.testimonials_content h3 span{
    color: #113366;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 400;
}



/*--- FOOTER ---*/
footer{
    color: #ffffff;
    background-color: #113366;
}

.footer_pcontent{
    padding: 50px 0;
    display: flex;
}

.footer_pcontent div{
    flex-basis: 20%;
}

.footer_pcontent ul{
    padding: 0;
}

.footer_pcontent li{
    margin-bottom: 8px;
    list-style: none;
}

.footer_pcontent a{
    color: #ffffff;
    text-decoration: none;
}

.footer_pcontent div:first-of-type{
    flex-basis: 50%;
}

.footer_pcontent div:first-of-type img{
    width: 100px;
}

.footer_pcontent div:first-of-type p{
    width: 300px;
}


/*-- Copyright --*/
.footer_copy{
    background-color: #0055AA;
}

.footer_copy .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_copy a{
    margin-right: 30px;
    color: #F2F2F2;
    text-decoration: none;
}
.footer_copy a:last-of-type{
    margin-right: 0;
}